@font-face 
{
    font-family: 'Inter';
    src: url(Fonte/Inter.zip);
    font-weight: normal;
    font-style: normal;
}

body
{
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    background: #FF6064;
    display: flex;
    font-family: 'Inter', sans-serif;
}

#Main
{
    height: 400px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display:flex;
}

#gif
{
    height: 40px;
    width: auto;
}

#logo
{
    height: 200px;
    width: auto;
}

