@font-face 
{
    font-family: 'Inter';
    src: url(Fonte/Inter.zip);
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin: 100px;
    justify-content: space-between;
}

.ShapeButton
{
    width: 270px;
    height: 45px;
    border-radius: 25px;
    border: solid black 1px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

#Enter
{
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 336px;
    font-size:large;
}



#Vector
{
    position: fixed;
    top: 200px;
    left: 180px;
    height: 30px;
    width: auto;
}

.Logo
{
    height: 30px;
    width: auto;
    margin: 5px;
    margin-right: 40px;
}

#WhithEmail
{
    background: #FF6064;
    color: white    ;
    width: 270px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 70px;
    border: none;
}

#SingUpText
{
    font-size:medium;
}

.ToSingUp
{
    color: #FF6064;
}