body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6064;
    padding-top: 150px;
}

#Main
{
    display:flex;
    height: 400px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#gif
{
    height: 40px;
    width: auto;
}

#logo
{
    height: 200px;
    width: auto;
}

