@font-face 
{
    font-family: 'Inter';
    src: url(Fonte/Inter.zip);
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.ShapeButton
{
    width: 270px;
    height: 45px;
    border-radius: 25px;
    border: solid black;
    background-color: white; 
}

#Enter
{
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
}



#Vector
{
    position: fixed;
    top: 200px;
    left: 180px;
}