body
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FF6064; 
}

#Logo
{
    height: 400px;
    width: auto;
}

#Form
{
    display:flex;
    height: 100vh;
    width: 375px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

button
{
    width: 270px;
    height: 45px;s
}

label {
    margin-bottom: 5px; /* Adiciona espaço abaixo das labels */
    font-weight: bold; /* Torna a fonte das labels mais destacada */
    display: block; /* Garante que a label ocupe toda a largura disponível */
}