@font-face 
{
    font-family: 'Inter';
    src: url(Fonte/Inter.zip);
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FF6064;
    font-family: 'Inter', sans-serif; 
}

#Logo
{
    height: 400px;
    width: auto;
}

#Form
{
    display:flex;
    height: 100vh;
    width: 375px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

button
{
    width: 270px;
    height: 45px;
}