@font-face 
{
    font-family: 'Inter';
    src: url(Fonte/Inter.zip);
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex;
    align-items: center;
    height: 100vh;
    background: #FF6064;
    font-family: 'Inter', sans-serif; 
    justify-content: space-around;

}

#Logo
{
    height: 450px;
    width: auto;
    padding-left: 50px;
}

#Form
{
    display:flex;
    height: 630px;
    width: 460px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button
{
    width: 150px;
    height: 45px;
    border-radius: 25px;
    margin: 5px;
    border: solid black 1px;
    
}

#DivButtons
{
    display: flex;
    margin: 10px;
    height: 60px;
    margin: 25px;
}

label
{
    display: flex;
    font-size: 12px;
    border-radius: 25px;
    text-align: left;
    width: 220px;
    padding-left: 15px;
    font-size: 15px;
    margin: 2px;
    padding-top: 10px;
}

input
{
    border-radius: 25px;
    height: 45px;
    width: 280px;
    padding-left: 30px;
    border: solid black 1px;
    
    font-size: 15px;
}

#CreateButton
{
    background-color: #FF6064;
    border: none;
    color: white;
}

button:hover
{
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 375px)
{
    body
    {
        flex-direction: column;
    }

    #Logo
    {
        height: auto;
        width: 250px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #Form
    {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 375px;
    margin-bottom: -8px;
    }
}