body
{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Start
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
}

#Ellipses
{
    display: flex;
    width: 110px;
    height: auto;
    justify-content: space-between;
    padding-bottom: 15px;
}

.Moving
{
    height: 20px;
    width: auto;
    padding-bottom: 25px;
}

#Art1
{
    height: 400px;
    width: auto;
}

#NextButton
{
    width: 270px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: #ff6064;
}