@font-face 
{
    font-family: 'Inter';
    src: url(Fonte/Inter.zip);
    font-weight: normal;
    font-style: normal;
}

body
{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

#Start
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
}

#Ellipses
{
    display: flex;
    width: 110px;
    height: auto;
    justify-content: space-between;
    padding-bottom: 15px;
}

.Moving
{
    height: 20px;
    width: auto;
    padding-bottom: 25px;
}

#Art1
{
    height: 400px;
    width: auto;
}

#NextButton
{
    width: 270px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: #ff6064;
    color: white;
}

#Vector
{
    position: fixed;
    top: 200px;
    left: 180px;
    height: 30px;
    width: auto;
    transition: color 0.3s ease;
}
